<% unless comment.archived? %>
  <div class="comment-container">
    <p>
      <strong>Commenter:</strong>
      <span class="commenter"><%= comment.commenter %></span>
    </p>

    <p class="comment-body">
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>

    <p class="destroy-link">
      <%= link_to "Destroy Comment", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </p>
  </div>
<% end %>
