<h1>THE QCC TIMES</h1>

<p><%= Article.public_count %> articles and counting!</p>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="NewArticle"><%= link_to "+Add New Article", new_article_path %></div>

<div id="pongGame">
  <canvas id="pongCanvas" width="800" height="400"></canvas>
</div>

<script src="<%= asset_path('pong.js') %>"></script>
